name: Node.js Package Publish
on:
  push:
    branches:
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
      - name: Install Dependencies
        run: |
          yarn install
      - name: Bootstraping Packages
        run: |
          npx lerna bootstrap

      - name: Building
        run: |
          yarn build

      # - name: Publishing
      #   run: |
      #     npm publish --access public
      #   env:
      #     NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
